@charset "UTF-8";
body {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}
main {
	margin-bottom: 50px;
	height: 500px;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}
ul {
	list-style: none;
}

a {
	color: #333;
	text-decoration: none;
}

.container {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 18px;
}

.site-title {
	text-align: center;
	width: 100px;
	line-height: 1px;
	margin: 0 auto 36px auto;
}

.site-title a {
	display: block;
}

.wrapper {
	max-width: 1000px;
}

#header {
	max-width: 1000px;
	padding: 46px 0 26px 0;
	margin: 0 auto;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav .menu,
nav .login {
	display: flex;
	align-items: center;
}

nav .menu li {
	margin: 0 15px;
}

nav .login li {
	margin: 0 15px;
}

.description {
	display: inline-block;
	width: 60%;
	margin-bottom: 30px;
}

.fa {
	padding: 15px;
	font-size: 30px;
	width: 20px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
	color: #333;
}

.fa-shopping-cart::before {
	font-size: 26px;
	opacity: 0.5;
}

nav .social-links {
	display: flex;
	align-items: center;
	padding: 0;
}

footer {
	padding: 30px 0;
	background-color: rgb(235, 235, 235);
}
#footer .copyright {
	font-size: 0.8rem;
	text-align: center;
}

.footer-wrapper {
	display: flex;
	justify-content: center;
}

.drawer {
	position: relative;
}

.nav-unshown {
	display: none;
}

#nav-open {
	display: inline-block;
	width: 30px;
	height: 22px;
	vertical-align: middle;
}
#nav-open span,
#nav-open span:before,
#nav-open span:after {
	position: absolute;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background: #555;
	display: block;
	content: "";
	cursor: pointer;
}
#nav-open span:before {
	bottom: -8px;
}
#nav-open span:after {
	bottom: -16px;
}

#nav-close {
	display: none;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

#nav-content {
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 70%;
	max-width: 330px;
	height: 100%;
	background: #fff;
	transition: 0.3s ease-in-out;
	-webkit-transform: translateX(-105%);
	transform: translateX(-105%);
}

#nav-content li {
	margin-bottom: 30px;
}

#nav-input:checked ~ #nav-close {
	display: block;
	opacity: 0.5;
}

#nav-input:checked ~ #nav-content {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
	justify-content: center;
	align-items: flex-start;
}

.header-logo-menu {
	display: flex;
	display: -moz-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-direction: row;
	-moz-flex-direction: row;
	-o-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	align-items: center;
}

/* 599px mobile 1024px tablet */
@media screen and (min-width: 1024px) {
	.drawer {
		display: none;
	}
	.fa-shopping-cart::before {
		display: none;
	}
}

/* mobile */
@media screen and (max-width: 1024px) {
	.site-title {
		margin-bottom: 10px;
	}
	.site-title img {
		height: 30px;
	}

	#header {
		margin-bottom: 0;
		border-bottom: none;
		padding: 20px;
	}

	#header-menu {
		display: none;
	}

	nav {
		display: flex;
		flex-direction: column;
	}
	nav .social-links {
		padding: 0;
	}
}
