@charset "UTF-8";

body {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #333;
	text-decoration: none;
}

img {
	max-width: 100%;
}

li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-style: 0;
}

.site-title {
	text-align: center;
	width: 100px;
	line-height: 1px;
	margin: 0 auto 36px auto;
}

.site-title a {
	display: block;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto;
}

#header {
	max-width: 1000px;
	padding: 46px 0 26px 0;
	margin: 0 auto 50px auto;
	border-bottom: solid 1px #333;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav .menu,
nav .login {
	display: flex;
	align-items: center;
}

nav .menu li {
	margin-right: 14px;
}

nav .login li {
	margin-left: 14px;
}

#item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

#item .item-img {
	max-width: 400px;
	flex-shrink: 0;
	margin-right: 60px;
}

#item .item-info p {
	margin-bottom: 30px;
	line-height: 1.9;
}

#item .item-info .item-title {
	height: 60px;
	display: flex;
	align-items: center;
	border-top: solid 1px #333;
	border-bottom: solid 1px #333;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 20px;
}

#item .item-info .order-table {
	width: 100%;
	margin-bottom: 20px;
}

#item .item-info .order-table .color,
#item .item-info .order-table .size {
	width: 20%;
}

#item .item-info .order-table .quantity {
	width: 60%;
}

#item .item-info .order-table td {
	border-top: solid 1px #333;
}

#item .item-info .order-table th,
#item .item-info .order-table td {
	font-weight: normal;
	padding: 10px;
	border-right: solid 1px #333;
	text-align: center;
}

#item .item-info .order-table th:last-child,
#item .item-info .order-table td:last-child {
	border-right: none;
}

#item .item-info .order-table select {
	width: 100%;
	border: solid 1px #333;
	padding: 0 10px;
	-moz-appearance: menulist;
	-webkit-appearance: menulist;
}

#item .item-info .add-btn {
	width: 100%;
	background-color: #333;
	color: #fff;
	display: block;
	line-height: 1;
	padding: 18px 0;
	margin-bottom: 30px;
	text-align: center;
}

#item .item-info .size-chart {
	width: 100%;
	border-top: solid 1px #333;
	border-left: solid 1px #333;
}

#item .item-info .size-chart .size {
	width: 16%;
}

/*
#item .item-info .size-chart .chest,
#item .item-info .size-chart .weist,
#item .item-info .size-chart .height {
	width: 28%;
}

#item .item-info .size-chart th {
	background-color: grey;
}

#item .item-info .size-chart th,
#item .item-info .size-chart td {
	font-weight: normal;
	padding: 10px;
	border-right: solid 1px #333;
	border-bottom: solid 1px #333;
	text-align: center;
}

*/

.footer-wrapper {
	display: flex;
	justify-content: center;
}

.fa {
	padding: 15px;
	font-size: 30px;
	width: 20px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
	color: #333;
}
.fa-shopping-cart::before {
	font-size: 26px;
	opacity: 0.5;
}

nav .social-links {
	display: flex;
	align-items: center;
	padding: 0;
}

footer {
	padding: 30px 0;
	background-color: rgb(235, 235, 235);
}
#footer .copyright {
	font-size: 0.8rem;
	text-align: center;
}

.drawer {
	position: relative;
}

.nav-unshown {
	display: none;
}

#nav-open {
	display: inline-block;
	width: 30px;
	height: 22px;
	vertical-align: middle;
}
#nav-open span,
#nav-open span:before,
#nav-open span:after {
	position: absolute;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background: #555;
	display: block;
	content: "";
	cursor: pointer;
}
#nav-open span:before {
	bottom: -8px;
}
#nav-open span:after {
	bottom: -16px;
}

#nav-close {
	display: none;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

/* menu content */
#nav-content {
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 70%;
	max-width: 330px;
	height: 100%;
	background: #fff;
	transition: 0.3s ease-in-out;
	-webkit-transform: translateX(-105%);
	transform: translateX(-105%);
}

#nav-content li {
	margin-bottom: 30px;
}

#nav-input:checked ~ #nav-close {
	display: block;
	opacity: 0.5;
}

#nav-input:checked ~ #nav-content {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

.header-logo-menu {
	display: flex;
	display: -moz-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-direction: row;
	-moz-flex-direction: row;
	-o-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	align-items: center;
}

/* 599px mobile 1024px tablet */
@media screen and (min-width: 1024px) {
	.drawer {
		display: none;
	}
}

/* mobile */
@media screen and (max-width: 1024px) {
	.site-title {
		margin-bottom: 10px;
	}
	.site-title img {
		height: 30px;
	}

	#header {
		margin-bottom: 0;
		border-bottom: none;
		padding: 20px;
	}
	nav {
		overflow-x: scroll;
	}
	#item {
		flex-direction: column;
	}
	#item .item-img {
		max-width: 100%;
		margin: 0 0 10px 0;
		text-align: center;
	}
	#item .item-info {
		padding: 0 16px;
	}
	#header-menu {
		display: none;
	}
}
